.card-square {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
    border: none;
    margin-bottom: 30px;
    padding:20px 0px;
}

.precio-venta {
    color:orangered;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    text-align: right;
}

.card-img-top {
    padding: 30px 30px;
    width:75%;
    margin:auto;
    cursor:pointer;
}

.card-title-top {
    padding: 2px 10px;
    font-size: 13px;
    min-height: 40px;
    cursor:pointer;
}

.title-nombre {
    padding: 2px 10px;
    font-size: 18px;
    min-height: 40px;
    cursor:pointer;
}

.title-codigo {
    padding: 2px 10px;
    font-size: 10px;
    cursor:pointer;
}

.title-marca {
    padding:2px 10px;
    font-size:13px;
    color:chocolate;
    margin-bottom: 0px;
    cursor:pointer;
}

.text-description {
    font-size:10px;
    min-height: 45px;
    cursor:pointer;
}

.card-detalles {
    padding:10px 30px;
}

.title-barra {
    font-size: 15px;
    border-bottom: solid;
    border-bottom-color: currentcolor;
    border-bottom-width: medium;
    border-color: cornflowerblue;
    border-width: 2px;
    padding: 13px 0px;
}

.cont-detalle {
    font-size: 13px;
}